# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
ENV/

# uv
app/uv.lock

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DistSt